{% load static %}

<header id="header" class="header">
    <div class="top-left">
       
    </div>
    <div class="top-right">
        <div class="header-menu">

            <p style="font-size: 18px;
            font-family: Open Sans, sans-serif;
            font-weight: 400;
            line-height: 50px;
            color: #878787; color: black !important;
            line-height: 50px;
            color: #878787;
            font-weight: bold;
            margin-right: 53px;" id="financial_year"> Financial Year :- {{ request.session.financial_year }}  </p>

            <p style="font-size: 18px;
            font-family: Open Sans, sans-serif;
            font-weight: 400;
            line-height: 50px;
            color: #878787; color: black !important;
            line-height: 50px;
            color: #878787;
            font-weight: bold;"> {{ request.user.balance }} ₹ </p>
            

            <div class="user-area dropdown float-right">
                <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="user-avatar rounded-circle" src="{% static 'images/admin.jpg' %}" alt="User Avatar">
                </a>

              
            </div>

           <a href="{% url 'add_close_balance' %}"> <button style="margin: 8px 0px 8px 22px;" class="btn btn-info"> Close Balance </button> </a>

        </div>
    </div>
</header>