<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">

                <li class="active">
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-building"></i>Dashboard</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-th"></i><a href="{% url 'dashboard' %}">Transport Dashboard</a></li>
                        <li><i class="fa fa-th"></i><a href="{% url 'main_dashboard' %}">Expense Dashbaord</a></li>
                    </ul>
                </li>
               
                <li class="menu-title">Transactions</li><!-- /.menu-title -->
                
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-paper-plane"></i>Builty</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-id-card-o"></i><a href="{% url 'add_transaction' %}">Add</a></li>
                        <li><i class="fa fa-th"></i><a href="{% url 'list_transaction' %}">View</a></li>
                    </ul>
                </li>

                {% if request.user.is_superuser %}

                <li class="">
                    <a href="{% url 'admin_request_list' %}"><i class="menu-icon fa fa-laptop"></i>Edit Requests </a>
                </li>

               

                {% else %}

                <li class="">
                    <a href="{% url 'request_list' %}"><i class="menu-icon fa fa-laptop"></i>Edit Requests </a>
                </li>

                {% endif %}



                <li class="">
                    <a href="{% url 'list_ack' %}"><i class="menu-icon fa fa-laptop"></i> Acknowledgement </a>
                </li>
                
{% comment %}
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-users"></i>Outward</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-id-card-o"></i><a href="{% url 'add_outward' %}">Add</a></li>
                        <li><i class="fa fa-th"></i><a href="{% url 'list_outward' %}">View</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-paper-plane"></i>Supply Return</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-id-card-o"></i><a href="{% url 'add_return' %}">Add</a></li>
                        <li><i class="fa fa-th"></i><a href="{% url 'list_return' %}">View</a></li>
                    </ul>
                </li>

              
                <li class="menu-title">Stock</li><!-- /.menu-title -->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-archive"></i>Stock</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-th"></i><a href="{% url 'list_stock' %}">View</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-archive"></i>Delete Dashboard</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-th"></i><a href="{% url 'delete_dashboard' %}">View</a></li>
                    </ul>
                </li> {% endcomment %}



                <li class="menu-title">Reports</li><!-- /.menu-title -->

                
                <li class="menu-item-has-children dropdown">
                    <a href="{% url 'truck_report_list' %}"><i class="menu-icon fa fa-laptop"></i> Dispatch wise report </a>
                    
                </li>
                
                <li class="menu-item-has-children dropdown">
                    <a href="{% url 'diesel_report_list' %}"><i class="menu-icon fa fa-laptop"></i> Diesel </a>
                    
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="{% url 'porch_report_list' %}"><i class="menu-icon fa fa-laptop"></i> Porch </a>
                    
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="{% url 'voucher_report_list' %}"><i class="menu-icon fa fa-laptop"></i> Voucher </a>
                    
                </li>



                <li class="menu-title">Setting</li><!-- /.menu-title -->
                {% if request.user.is_superuser %}

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-building"></i>Name of Company</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-id-card-o"></i><a href="{% url 'add_company' %}">Add</a></li>
                        <li><i class="fa fa-th"></i><a href="{% url 'list_company' %}">View</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-building"></i>Company_location</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-id-card-o"></i><a href="{% url 'add_office_location' %}">Add</a></li>
                        <li><i class="fa fa-th"></i><a href="{% url 'list_office_location' %}">View</a></li>
                    </ul>
                </li>

                {% endif %}

                 <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa  fa-leaf"></i>Consignor</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-id-card-o"></i><a href="{% url 'add_consignor' %}">Add</a></li>
                        <li><i class="fa fa-th"></i><a href="{% url 'list_consignor' %}">View</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-building-o"></i>Article </a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-id-card-o"></i><a href="{% url 'add_article' %}">Add</a></li>
                        <li><i class="fa fa-th"></i><a href="{% url 'list_article' %}">View</a></li>
                    </ul>
                </li>


                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-users"></i>Truck Owner</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-id-card-o"></i><a href="{% url 'add_truck_owner' %}">Add</a></li>
                        <li><i class="fa fa-th"></i><a href="{% url 'list_truck_owner' %}">View</a></li>
                    </ul>
                </li>
                
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-users"></i>Truck details</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-id-card-o"></i><a href="{% url 'add_truck_details' %}">Add</a></li>
                        <li><i class="fa fa-th"></i><a href="{% url 'list_truck_details' %}">View</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-users"></i>District</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-id-card-o"></i><a href="{% url 'add_district' %}">Add</a></li>
                        <li><i class="fa fa-th"></i><a href="{% url 'list_district' %}">View</a></li>
                    </ul>
                </li>
                 
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-users"></i>Taluka</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-id-card-o"></i><a href="{% url 'add_taluka' %}">Add</a></li>
                        <li><i class="fa fa-th"></i><a href="{% url 'list_taluka' %}">View</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-users"></i>From Station</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-id-card-o"></i><a href="{% url 'add_from_station' %}">Add</a></li>
                        <li><i class="fa fa-th"></i><a href="{% url 'list_from_station' %}">View</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-users"></i>To Station</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-id-card-o"></i><a href="{% url 'add_station' %}">Add</a></li>
                        <li><i class="fa fa-th"></i><a href="{% url 'list_station' %}">View</a></li>
                    </ul>
                </li>
              
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-users"></i>Onaccount</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-id-card-o"></i><a href="{% url 'add_onaccount' %}">Add</a></li>
                        <li><i class="fa fa-th"></i><a href="{% url 'list_onaccount' %}">View</a></li>
                    </ul>
                </li>

                {% if request.user.is_superuser %}

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-users"></i>User</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-id-card-o"></i><a href="{% url 'resgister_user' %}">Add</a></li>
                        <li><i class="fa fa-th"></i><a href="{% url 'list_user' %}">View</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-users"></i>Rate</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-id-card-o"></i><a href="{% url 'add_rate' %}">Add</a></li>
                        <li><i class="fa fa-th"></i><a href="{% url 'list_rate' %}">View</a></li>
                    </ul>
                </li>
                
                {% endif %}

               

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-users"></i>Petrol Pump</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-id-card-o"></i><a href="{% url 'add_petrol_pump' %}">Add</a></li>
                        <li><i class="fa fa-th"></i><a href="{% url 'list_petrol_pump' %}">View</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-users"></i>Driver</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-id-card-o"></i><a href="{% url 'add_driver' %}">Add</a></li>
                        <li><i class="fa fa-th"></i><a href="{% url 'list_driver' %}">View</a></li>
                    </ul>
                </li>


            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>