{% extends 'expense/base_main.html' %}
{% load static %}


{% block head %}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    
   


<!-- Hierarchy Select Js -->

{% endblock %}

{% block title %}Submit{% endblock title %}

{% block breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Add Expense Category</strong>
            </div>
            <div class="card-body">
                <!-- Credit Card -->
                <div id="pay-invoice">
                    <div class="card-body">
                        <form id="expense_form" action="#" method="post" >
                            {% csrf_token %}

                            
                            <div class="form-group">

                            <label for="inputStatus"> Name </label>
                            {{ form.name }}

                            </div>

                            <div>
                                <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                    <span id="payment-button-amount">Submit</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div> <!-- .card -->

    </div><!--/.col-->
</div>

{% endblock content %}


{% block js %}

<script>


    
    $("#company").change(function () {
        const comapnyID = $(this).val();  // get the selected subject ID from the HTML dropdown list 
        $.ajax({                       // initialize an AJAX request
            type: "POST",
            url: "{% url 'get_consignor_ajax' %}",
            data: {
                'company_id': comapnyID,       // add the country id to the POST parameters
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {   // `data` is from `get_topics_ajax` view function
                let html_data = '<option value="" selected disabled>------------</option>';
                data.forEach(function (data) {
            
                    html_data += `<option value="${data.id}" >${data.name}</option>` 
                });
                $("#consignor").html(html_data); // replace the contents of the topic input with the data that came from the server
            }
        });
    });

    // Prevent duplicate submissions
    $('#payment-button').on('click', function(e) {
        var submitButton = $(this);
        if (submitButton.prop('disabled')) {
            e.preventDefault();
            return false;
        }
        // Disable button after a small delay to allow form submission to proceed
        setTimeout(function() {
            submitButton.prop('disabled', true);
            $('#payment-button-amount').text('Submitting...');
        }, 10);
    });


</script>
  


{% endblock js %}
