{% extends 'expense/base_main.html' %}


{% block title %}Submit{% endblock title %}

{% block breadcrumbs %}
{% endblock breadcrumbs %}

{% block head %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>    <!-- imp -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script> 


<style>

    




    
    .select2-container {
        min-width: 200px !important;
     }
     

     

     .selection{
       height: 50px;
   display: grid;
     }


     .select2-results__option {
       padding-right: 20px;
       vertical-align: middle;
     }
     .select2-results__option:before {
       content: "";
       display: inline-block;
       position: relative;
       height: 20px;
       width: 20px;
       border: 2px solid #e9e9e9;
       border-radius: 4px;
       background-color: #fff;
       margin-right: 20px;
       vertical-align: middle;
     }
     .select2-results__option[aria-selected=true]:before {
       font-family:fontAwesome;
       content: "\f00c";
       color: #fff;
       background-color: #f77750;
       border: 0;
       display: inline-block;
       padding-left: 3px;
     }
     .select2-container--default .select2-results__option[aria-selected=true] {
       background-color: #fff;
     }
     .select2-container--default .select2-results__option--highlighted[aria-selected] {
       background-color: #eaeaeb;
       color: #272727;
     }
     .select2-container--default .select2-selection--multiple {
       margin-bottom: 10px;
     }
     .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
       border-radius: 4px;
     }
     .select2-container--default.select2-container--focus .select2-selection--multiple {
       border-color: #f77750;
       border-width: 2px;
     }
     .select2-container--default .select2-selection--multiple {
       border-width: 2px;
     }
     .select2-container--open .select2-dropdown--below {
       
       border-radius: 6px;
       box-shadow: 0 0 10px rgba(0,0,0,0.5);
       width: max-content !important;
     }
     .select2-selection .select2-selection--multiple:after {
       content: 'hhghgh';
     }
     /* select with icons badges single*/
     .select-icon .select2-selection__placeholder .badge {
       display: none;
     }
     .select-icon .placeholder {
       display: none;
     }
     .select-icon .select2-results__option:before,
     .select-icon .select2-results__option[aria-selected=true]:before {
       display: none !important;
       /* content: "" !important; */
     }
     .select-icon  .select2-search--dropdown {
       display: none;
     }



     .select2-container .select2-selection--single {
       height: 38px;
     }

     .logged-in {
       color: orange;
       font-size: 21px;
     }

     /* Hide expense type specific fields by default */
     .tyre-expense-fields,
     .mechanic-expense-fields {
       display: none;
     }

</style>


{% endblock head %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Add Truck Expense</strong>
            </div>
            <div class="card-body">
                <!-- Credit Card -->
                <div id="pay-invoice">
                    <div class="card-body">
                      <form id="expense_form" action="#" method="post" >
                            {% csrf_token %}

                           
                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Expense Type <span style="color: red;">*</span></label>
                                {{ form.expense_type }}
                            </div>

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Truck <span style="color: red;">*</span></label>
                                {{ form.truck }}
                            </div>

                            <!-- Tyre Expense Fields -->
                            <div class="tyre-expense-fields">
                                <div class="form-group">
                                    <label for="name" class="control-label mb-1">Tyre Number</label>
                                    {{ form.tyre_no }}
                                </div>

                                <div class="form-group">
                                    <label for="name" class="control-label mb-1">Pattern</label>
                                    {{ form.pattern }}
                                </div>

                                <div class="form-group">
                                    <label for="name" class="control-label mb-1">Type</label>
                                    {{ form.type }}
                                </div>

                                <div class="form-group">
                                    <label for="name" class="control-label mb-1">Company</label>
                                    {{ form.company }}
                                </div>

                                <div class="form-group">
                                    <label for="name" class="control-label mb-1">Driver</label>
                                    {{ form.driver }}
                                </div>
                            </div>

                            <!-- Mechanic/Spare Part Expense Fields -->
                            <div class="mechanic-expense-fields">
                                <div class="form-group">
                                    <label for="name" class="control-label mb-1">Mechanic Name</label>
                                    {{ form.mechanic_name }}
                                </div>

                                <div class="form-group">
                                    <label for="name" class="control-label mb-1">Spare Part Name</label>
                                    {{ form.spare_part_name }}
                                </div>

                                <div class="form-group">
                                    <label for="name" class="control-label mb-1">Labour Cost</label>
                                    {{ form.labour_cost }}
                                </div>

                                <div class="form-group">
                                    <label for="name" class="control-label mb-1">Spare Part Cost</label>
                                    {{ form.cost }}
                                </div>

                                <div class="form-group">
                                    <label for="name" class="control-label mb-1">Work Description</label>
                                    {{ form.work_description }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Vendor</label>
                                {{ form.vendor }}
                            </div>

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Amount <span style="color: red;">*</span></label>
                                {{ form.amount }}
                                <small class="form-text text-muted" id="amount-hint-mechanic" style="display: none;">
                                    (Labour Cost + Spare Part Cost will be calculated automatically)
                                </small>
                            </div>

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Note</label>
                                {{ form.note }}
                            </div>

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Entry Date</label>
                                {{ form.entry_date }}
                            </div>

                            <div>
                                <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                    <span id="payment-button-amount">Submit</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div> <!-- .card -->

    </div><!--/.col-->
</div>

{% endblock content %}

    {% block js %}

        <script>
            
            $('.sele').select2();

            // Function to toggle fields based on expense type
            function toggleExpenseFields() {
                var expenseType = $('#expense_type').val();
                
                // Hide all expense-specific fields first
                $('.tyre-expense-fields, .mechanic-expense-fields').hide();
                $('#amount-hint-mechanic').hide();
                
                // Show relevant fields based on expense type
                if (expenseType === 'tyre') {
                    $('.tyre-expense-fields').show();
                } else if (expenseType === 'mechanic') {
                    $('.mechanic-expense-fields').show();
                    $('#amount-hint-mechanic').show();
                }
            }

            // Initialize on page load
            $(document).ready(function() {
                toggleExpenseFields();
                
                // Toggle fields when expense type changes
                $('#expense_type').on('change', function() {
                    toggleExpenseFields();
                });

                // Auto-calculate total amount for mechanic expenses
                $('#labour_cost, #cost').on('input', function() {
                    if ($('#expense_type').val() === 'mechanic') {
                        var labourCost = parseFloat($('#labour_cost').val()) || 0;
                        var sparePartCost = parseFloat($('#cost').val()) || 0;
                        var total = labourCost + sparePartCost;
                        $('#amount').val(total.toFixed(2));
                    }
                });
            });

            // Prevent duplicate submissions
            $('#payment-button').on('click', function(e) {
                var submitButton = $(this);
                if (submitButton.prop('disabled')) {
                    e.preventDefault();
                    return false;
                }
                // Disable button after a small delay to allow form submission to proceed
                setTimeout(function() {
                    submitButton.prop('disabled', true);
                    $('#payment-button-amount').text('Submitting...');
                }, 10);
            });
        </script>

    {% endblock js %}
