<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-building"></i>Dashboard</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-th"></i><a href="{% url 'dashboard' %}">Transport Dashboard</a></li>
                        <li><i class="fa fa-th"></i><a href="{% url 'main_dashboard' %}">Expense Dashbaord</a></li>
                    </ul>
                </li>
               
                <li class="menu-title">Transactions</li><!-- /.menu-title -->
                

                {% if request.user.is_superuser %}

                    <li class="menu-item-has-children dropdown">
                        <a href="{% url 'check_balance' %}"><i class="menu-icon fa fa-th"></i> User Balance </a>
                        
                    </li>

                {% endif %}
                
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-users"></i>Funds</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-id-card-o"></i><a href="{% url 'add_fund' %}">Add</a></li>
                        <li><i class="fa fa-th"></i><a href="{% url 'list_fund' %}">View</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-users"></i>Transfer Funds</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-id-card-o"></i><a href="{% url 'add_transfer_fund' %}">Add</a></li>
                        <li><i class="fa fa-th"></i><a href="{% url 'list_transfer_fund' %}">View</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="{% url 'list_builty_expense' %}"><i class="menu-icon fa fa-th"></i> Builty Expense </a>
                    
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-users"></i>Truck Expense</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-id-card-o"></i><a href="{% url 'add_truck_expense' %}">Add</a></li>
                        <li><i class="fa fa-th"></i><a href="{% url 'list_truck_expense' %}">View</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-users"></i>Other Expense</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-id-card-o"></i><a href="{% url 'add_other_expense' %}">Add</a></li>
                        <li><i class="fa fa-th"></i><a href="{% url 'list_other_expense' %}">View</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="{% url 'list_diesel_expense' %}"><i class="menu-icon fa fa-users"></i> Diesel Expense </a>
                    
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-users"></i>Truck Diesel Expense</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-th"></i><a href="{% url 'add_truck_diesel_expense' %}">Add</a></li>
                        <li><i class="fa fa-th"></i><a href="{% url 'list_truck_diesel_expense' %}">View</a></li>
                    </ul>
                </li>
               
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-users"></i>Salary</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-id-card-o"></i><a href="{% url 'add_salary' %}">Add</a></li>
                        <li><i class="fa fa-th"></i><a href="{% url 'list_salary' %}">View</a></li>
                    </ul>
                </li>
               
               
                <li class="menu-item-has-children dropdown">
                    <a href="{% url 'list_close_balance' %}"><i class="menu-icon fa fa-laptop"></i> User Closing Balance </a>
                    
                </li>



                <li class="menu-title">Reports</li><!-- /.menu-title -->

                
                {% if request.user.is_superuser %}


                <li class="menu-item-has-children dropdown">
                    <a href="{% url 'master_report_list' %}"><i class="menu-icon fa fa-laptop"></i> Master Expense report </a>
                    
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="{% url 'master_fund_report_list' %}"><i class="menu-icon fa fa-laptop"></i> Master Fund report </a>
                    
                </li>

                {% else %}

                <li class="menu-item-has-children dropdown">
                    <a href="{% url 'master_report_normal_list' %}"><i class="menu-icon fa fa-laptop"></i> Master Expense report </a>
                    
                </li>

                {% endif %}
                
                <li class="menu-item-has-children dropdown">
                    <a href="{% url 'diesel_report_list' %}"><i class="menu-icon fa fa-laptop"></i> Diesel </a>
                    
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="{% url 'porch_report_list' %}"><i class="menu-icon fa fa-laptop"></i> Porch </a>
                    
                </li>



                <li class="menu-title">Setting</li><!-- /.menu-title -->
               
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-users"></i>Expense Category</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-id-card-o"></i><a href="{% url 'add_expense_category' %}">Add</a></li>
                        <li><i class="fa fa-th"></i><a href="{% url 'list_expense_category' %}">View</a></li>
                    </ul>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-users"></i>Exmployee</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-id-card-o"></i><a href="{% url 'add_employee' %}">Add</a></li>
                        <li><i class="fa fa-th"></i><a href="{% url 'list_employee' %}">View</a></li>
                    </ul>
                </li>


                
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-building-o"></i>Mechanic </a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-id-card-o"></i><a href="{% url 'add_mechanic' %}">Add</a></li>
                        <li><i class="fa fa-th"></i><a href="{% url 'list_mechanic' %}">View</a></li>
                    </ul>
                </li>
                
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-building-o"></i>Vendor </a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-id-card-o"></i><a href="{% url 'add_vendor' %}">Add</a></li>
                        <li><i class="fa fa-th"></i><a href="{% url 'list_vendor' %}">View</a></li>
                    </ul>
                </li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>