{% extends 'base/base.html' %}


{% block title %}Product List{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            
             {% comment %} <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Product</a></li>
                            <li class="active">List</li>
                        </ol>
                    </div>
                </div>
            </div> {% endcomment %} 
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
{% comment %} <div style="justify-content: center;display: flex;align-items: center;">
    <button id="payment-button" onclick="abc();" style="background-color: #05386b; border: green; padding: 10px;border-radius: 12px;" type="button" class="btn-info ">
         <span id="payment-button-amount">Add Company  +</span>
     </button>
   
</div><br> {% endcomment %}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title"> List Station </h4>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table ">
                        <thead>
                            <tr>
                                
                                <th class="serial">#</th>
                               
                                <th>Name</th>
                                <th>Taluka</th>
                                <th>Office Location</th>
                                <th>Action</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% if data %}
                            {% for i in data %}
                            <tr>
                                <td class="serial">{{ forloop.counter }}</td>
                               
                                <td>{{i.name }}</td>
                                <td>{{i.taluka }}</td>
                                <td>{{i.office_location }}</td>

                                <td>  
                                   <a href="{% url 'update_from_station' i.id %}"> <button  style="background-color: #05386b; border: green; padding: 10px;border-radius: 12px;" type="submit" class="btn-info ">
                                        <span id="payment-button-amount">View</span>
                                    </button>  </a>

                                   <button onclick="if(confirm('Are you sure you want to delete this station?')) { window.location.href='{% url 'delete_from_station' i.id %}'; } return false;" style="background-color: red; border: green; padding: 10px;border-radius: 12px;" type="button" class="btn-info ">
                                        <span id="payment-button-amount">Delete</span>
                                    </button>
                                    
                                </td>
                               
                               
                            </tr>
                            {% endfor %}
                            {% else %}
                                <tr><td>No Product Data</td></tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-8 -->

    
</div>
{% endblock content %}