{% extends 'base/base.html' %}

{% block title %}Product List{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            
            {% comment %} <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Product</a></li>
                            <li class="active">List</li>
                        </ol>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title"> List Driver</h4>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th class="serial">#</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Adhar Card</th>
                                <th>Driving Licence</th>
                                <th>Driving Licence Expiry D</th>
                                <th>Mobile No</th>
                                <th>Actions</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% if data %}
                            {% for i in data %}
                            <tr>
                                <td class="serial">{{ forloop.counter }}</td>
                                <td>{{ i.name }}</td>
                                <td>{{ i.address }}</td>
                                <td>{{ i.adhar_card }}</td>
                                <td>{{ i.driving_licence }}</td>
                                <td>{{ i.driving_licence_expiry_date }}</td>
                                <td>{{ i.mobile_no }}</td>
                                <td>  
                                   <a href="{% url 'update_driver' i.id %}"><button style="background-color: #05386b; border: green; padding: 10px; border-radius: 12px;" type="button" class="btn-info">View</button></a>
                                   <a href="{% url 'delete_driver' i.id %}"><button style="background-color: #dc3545; border: none; padding: 10px; border-radius: 12px;" type="button" class="btn-danger">Delete</button></a>
                                </td>
                               
                               
                            </tr>
                            {% endfor %}
                            {% else %}
                                <tr><td>No Product Data</td></tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-8 -->

    
</div>
{% endblock content %}