{% extends 'base/base.html' %}

{% block title %}Product List{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            
            {% comment %} <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Product</a></li>
                            <li class="active">List</li>
                        </ol>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div style="justify-content: center;display: flex;align-items: center;">
    <button id="payment-button" onclick="abc();" style="background-color: #05386b; border: green; padding: 10px;border-radius: 12px;" type="button" class="btn-info ">
         <span id="payment-button-amount">Add Product  +</span>
     </button>
   
</div>
<br>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">Product List </h4>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th class="serial">#</th>
                                <th>Name</th>
                                <th>Actions</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                           
                            {% for i in data %}
                            <tr>
                                <td class="serial">{{ forloop.counter }}</td>
                                <td>{{ i.name }}</td>
                                <td>  
                                   <a href="{% url 'update_product' i.id %}"> 
                                       <button  style="background-color: #05386b; border: green; padding: 10px;border-radius: 12px;" type="submit" class="btn-info ">
                                            <span id="payment-button-amount">Edit Product</span>
                                        </button>
                                    </a>
                                    <button onclick="if(confirm('Are you sure you want to delete this product?')) { window.location.href='{% url 'delete-product' i.id %}'; } return false;" id="payment-button" style="background-color: red; border: red; padding: 10px;border-radius: 12px;" type="button" class="btn-info">
                                        <span id="payment-button-amount">Delete Product</span>
                                    </button>
                                </td>
                               
                               
                            </tr>
                            {% endfor %}
                            {% comment %} {% else %}
                                <tr><td>No Product Data</td></tr>
                            {% endif %} {% endcomment %}
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-8 -->

    
</div>

{% endblock content %}