{% extends 'base/base.html' %}
{% load i18n %}

{% block title %} Product List {% endblock title %}


{% block head %}


{% comment %} 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" /> {% endcomment %}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>    <!-- imp -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script> 

    <style>



      select {
        border: 1px solid gray !important;
        border-radius: 6px !important;
        position: relative !important;
        width: 231px !important;
        margin: 10px !important;
        line-height: 6ex !important;
        padding-left: 14px !important;
        height: 46px !important;
      }

      
        .menu-nav {
       
            display: flex;
            justify-content: space-between;
          }
          
          .menu-item {
            color: #FCC;
            padding: 3px;
          }
          
          .three-dots:after {
            cursor: pointer;
            color: #444;
            content: '\2807';
            font-size: 20px;
            padding: 0 5px;
          }
          
          a {
            text-decoration: none;
            color: white;
          }
          
          a div {
            padding: 2px;
          }
         
         
          .logged-in {
            color: orange;
            font-size: 21px;
          }
          

    

          .select2-container {
             min-width: 200px !important;
             max-width: 200px !important;
          }
          

        

          .selection{
            height: 50px;
        display: grid;
          }


          .select2-results__option {
            padding-right: 20px;
            vertical-align: middle;
          }
          .select2-results__option:before {
            content: "";
            display: inline-block;
            position: relative;
            height: 20px;
            width: 20px;
            border: 2px solid #e9e9e9;
            border-radius: 4px;
            background-color: #fff;
            margin-right: 20px;
            vertical-align: middle;
          }
          .select2-results__option[aria-selected=true]:before {
            font-family:fontAwesome;
            content: "\f00c";
            color: #fff;
            background-color: #f77750;
            border: 0;
            display: inline-block;
            padding-left: 3px;
          }
          .select2-container--default .select2-results__option[aria-selected=true] {
            background-color: #fff;
          }
          .select2-container--default .select2-results__option--highlighted[aria-selected] {
            background-color: #eaeaeb;
            color: #272727;
          }
          .select2-container--default .select2-selection--multiple {
            margin-bottom: 10px;
          }
          .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
            border-radius: 4px;
          }
          .select2-container--default.select2-container--focus .select2-selection--multiple {
            border-color: #f77750;
            border-width: 2px;
          }
          .select2-container--default .select2-selection--multiple {
            border-width: 2px;
          }
          .select2-container--open .select2-dropdown--below {
            
            border-radius: 6px;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            width: max-content !important;
          }
          .select2-selection .select2-selection--multiple:after {
            content: 'hhghgh';
          }
          /* select with icons badges single*/
          .select-icon .select2-selection__placeholder .badge {
            display: none;
          }
          .select-icon .placeholder {
            display: none;
          }
          .select-icon .select2-results__option:before,
          .select-icon .select2-results__option[aria-selected=true]:before {
            display: none !important;
            /* content: "" !important; */
          }
          .select-icon  .select2-search--dropdown {
            display: none;
          }



          .select2-container .select2-selection--single {
            height: 38px;
          }
          
    </style>

{% endblock head %}


{% block content %}

<div style="justify-content: center;display: flex;align-items: center;">
   <a href="{% url 'add_transaction' %}"> <button id="payment-button" style="background-color: #05386b; border: green; padding: 10px;border-radius: 12px;" type="button" class="btn-info ">
         <span id="payment-button-amount">Add Builty  +</span>
     </button> </a>
   
</div><br>

<p>
    
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Filters
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body" style="width: fit-content;">
      

      <form method="get" action="" style="padding:15px;">

        {% csrf_token %}

        <div class="form-group" style="display: flex;gap: 14px;">

          <label for="name" class="control-label mb-1" style="margin-left : 0px;">Builty No</label>
                  {{ builty_filter.form.builty_no }}
                      
            
          <label for="name" class="control-label mb-1" style="margin-left : 0px;">Station From</label>
              {{ builty_filter.form.station_from }}
                  
          <label for="name" class="control-label mb-1" style="margin-left : 0px;">District To</label>
              {{ builty_filter.form.to_district }}
                  
              
          <label for="name" class="control-label mb-1" style="margin-left : 0px;">Truck No</label>

          <select class="sele" name="truck_details" id="truck_details" multiple="multiple">
            
            {% for id, name in form.truck_details.field.choices %}
            {% if name != '---------' %}
            <option value="{{ id }}"> {{ name }} </option>
            {% endif %}

                {% endfor %}
          </select> <input id="select_all_truck_details" type="checkbox" >
          <label for="name" class="control-label mb-1 la">Article</label>
          {{ builty_filter.form.article }}
  
        </div>

      <div class="form-group" style="display: flex;gap: 14px;">

      
        <label for="name" class="control-label mb-1" style="margin-left : 0px;">Truck Owner</label>
        <select class="sele" name="truck_owner" id="truck_owner" multiple="multiple">
          {% for id, name in form.truck_owner.field.choices %}

          {% if name != '---------' %}
            <option value="{{ id }}"> {{ name }} </option>
            {% endif %}
              {% endfor %}
          
        </select><input id="select_all_truck_owner" type="checkbox" >

        <label for="name" class="control-label mb-1" style="margin-left : 0px;">Consginor</label>
        <select class="sele" name="consignor" id="consignor" multiple="multiple">
          {% for id, name in form.consignor.field.choices %}

          {% if name != '---------' %}
            <option value="{{ id }}"> {{ name }} </option>
            {% endif %}
              {% endfor %}
          
        </select><input id="select_all_consignor" type="checkbox" >
          
       
              
        <label for="name" class="control-label mb-1 la">User</label>
        {{ builty_filter.form.user }}

              
      </div><br>
  
      <div class-"form-group" style="display: flex;
        gap: 14px;">
                            
        <label for="name" class="control-label mb-1" style="margin-left : 0px;">Builty Date From</label>
        {{ builty_filter.form.DC_date_start__date }}
    


        <label for="name" class="control-label mb-1">Builty Date To</label>
        {{ builty_filter.form.DC_date_end__date }}





      </div><br>

      <div class-"form-group" style="display: flex;
        gap: 14px;">
                          
        <label for="name" class="control-label mb-1" style="margin-left : 0px;">Challan Date From</label>
        {{ builty_filter.form.challan_date_start__date }}
    


        <label for="name" class="control-label mb-1">Challan Date To</label>
        {{ builty_filter.form.challan_date_end__date }}





      </div>

      <br>

      <a href="{% url 'list_transaction' %}"><button class="btn btn-primary" type="button" > Reset </button></a>

      <button class="btn btn-primary" type="submit" > Submit </button>
    </div>

  </form>
</div>
  

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">Builty List </h4>
            </div>

      
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table ">
                        <thead>

                          
                         
                            <tr>

                                <th class="serial">#</th>
                                <th>Builty No</th>
                                <th>Date</th>
                                <th>Truck No</th>
                                <th>Owner</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Taluka</th>
                                <th>District</th>
                                <th>Consignor</th>
                                <th>Consigne</th>
                                <th>Account</th>
                                <th>Article</th>
                                <th>MT</th>


                                <th>Rate</th>
                                <th>Freight</th>
                                <th>Advance</th>
                                <th>Balance</th>


                                <th>#</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% if data %}
                            {% for i in data %}

                              {% if i.voucher_payment_status == True %}

                                <tr style="background: #98e698;">


                              {% elif i.have_ack.all.0 %}

                                <tr style="background: #ffd78f;">

                              {% else %}

                                <tr>

                              {% endif %}

                              {% if i.has_request.all.0.status == False %}

                                  <td class="serial">  <span class="logged-in">●</span>   {{ forloop.counter }}</td>
                                 
                              {% else %}

                                <td class="serial" style=""><input type="checkbox" value="{{ i.id }}" /> {{ forloop.counter }}</td>

                              {% endif %}
                  
                                
                                <td>{{ i.builty_no }}</td>
                                <td>{{ i.DC_date }}</td>
                                <td>{{ i.truck_details }}</td>
                                <td>{{ i.truck_owner }}</td>
                                <td>{{ i.station_from }}</td>
                                <td>{{ i.station_to }}</td>
                                <td>{{ i.taluka }}</td>
                                <td>{{ i.district }}</td>
                                <td>{{ i.consignor }}</td>
                                <td>{{ i.consignee }}</td>
                                <td>{{ i.onaccount }}</td>
                                <td>{{ i.article }}</td>
                                <td>{{ i.mt }}</td>
                                

                                <td>{{ i.rate }}</td>
                                <td>{{ i.freight }}</td>
                                <td>{{ i.less_advance }}</td>
                                <td>{{ i.balance }}</td>

                                
                                <td style="display: flex; gap: 11px;height: 86px;">  

                                  {% if request.user.office_location.name == "AKOLA" %}
                                  
                                    <a href="{% url 'generate_bill_akola' i.id %}"><button style="background-color: #05386b; border: green; padding: 10px;border-radius: 12px;" type="button" class="btn-info ">
                                      <span id="payment-button-amount">Print</span>
                                    </button>  </a>

                                  {% else %}
                                    
                                    <a href="{% url 'generate_bill' i.id %}"><button style="background-color: #05386b; border: green; padding: 10px;border-radius: 12px;" type="button" class="btn-info ">
                                        <span id="payment-button-amount">Print</span>
                                    </button>  </a>

                                  {% endif %}

                                  
                                    <a href="{% url 'update_builty' i.id %}"><button style="background-color: #05386b; border: green; padding: 10px;border-radius: 12px;" type="button" class="btn-info ">
                                        <span id="payment-button-amount">View</span>
                                    </button>  </a>

                                    <a href="{% url 'delete_transaction' i.id %}"><button style="background-color: red; border: green; padding: 10px;border-radius: 12px;" type="button" class="btn-info ">
                                        <span id="payment-button-amount">Delete</span>
                                    </button>  </a>
                                    
                                   


                                </td>
                               
                               
                            </tr>
                            {% endfor %}
                            {% else %}
                                <tr><td>No Product Data</td></tr>
                            {% endif %}
                        </tbody>
                    </table>
                    <footer class="site-footer">
                      <div class="footer-inner bg-white" style="float: right;">
                          <div class="row" style="float: right;">
                              <p style="font-weight: 700;
                              color: black;;margin-left:30px;border : 1px solid grey;padding : 10px;"> Total MT : {{ total_mt }}</p>
                              <p style="font-weight: 700;
                              color: black;;margin-left:30px;border : 1px solid grey;padding : 10px;"> Total Freight : {{ total_freight }} </p>
                              <p style="font-weight: 700;
                              color: black;margin-left:30px;border : 1px solid grey;padding : 10px;">  Advance : {{ total_advance }} RS</p><br>
                              <p style="font-weight: 700;
                              color: black;;margin-left:30px;border : 1px solid grey;padding : 10px;">  Balance : {{ total_balance }} RS</p>
                            </div>

                            
                          <div class="row" style="float: left; width : 100%">


                          <button style="background-color: #05386b; border: green; padding: 10px;border-radius: 12px;" class="btn-info" onclick="mass_edit_request();" > Submit </button>
                      
                        </div>
                        </div>
                  </footer>
                          
     <br>
                   <br>
                            <nav aria-label="Page navigation example">
                              <ul class="pagination justify-content-center">
                              {% if data.has_previous %}
                                  <li class="page-item">
                                  <a class="page-link" onclick="pagination({{ data.previous_page_number }})">Previous</a>
                                </li>
                              {% else %}
                                  <li class="page-item disabled">
                                  <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
                                </li>
                              {% endif %}
                      
                              {% if data.number|add:'-4' > 1 %}
                                  <li class="page-item"><a class="page-link" onclick="pagination({{ data.number }})">&hellip;</a></li>
                              {% endif %}
                      
                              {% for i in data.paginator.page_range %}
                                  {% if data.number == i %}
                                      <li class="page-item active" aria-current="page">
                                    <span class="page-link">
                                      {{ i }}
                                      <span class="sr-only">(current)</span>
                                    </span>
                                  </li>
                                  {% elif i > data.number|add:'-5' and i < data.number|add:'5' %}
                                       <li class="page-item"><a class="page-link" onclick="pagination({{ i }})">{{ i }}</a></li>
                                  {% endif %}
                              {% endfor %}
                      
                              {% if data.paginator.num_pages > data.number|add:'4' %}
                                 <li class="page-item"><a class="page-link" onclick="pagination({{ data.number|add:'5' }})">&hellip;</a></li>
                              {% endif %}
                      
                              {% if data.has_next %}
                                  <li class="page-item">
                                  <a class="page-link" onclick="pagination({{ data.next_page_number }}">Next</a>
                                </li>
                              {% else %}
                                  <li class="page-item disabled">
                                  <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
                                </li>
                              {% endif %}
                            </ul>
                          </nav>







                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-8 -->

    
</div>

{% endblock content %}

{% block js %}

<script>


    function sdvccx(builty_id){
      alert(builty_id)
      
      $('#station_from').addClass('form-control');
      $('#station_to').addClass('form-control');
      $('#myModal').modal('show');

      document.getElementById("builty_id").value = builty_id;

    }

    function mass_edit_request(){

      builty_id_arr = []

      $("input:checkbox[name=type]:checked").each(function(){
        builty_id_arr.push($(this).val());
      });


      var checkboxes = document.querySelectorAll('input[type=checkbox]:checked')

      for (var i = 0; i < checkboxes.length; i++) {
        builty_id_arr.push(checkboxes[i].value)
      }

      alert(builty_id_arr)

      $.ajax({                       // initialize an AJAX request
        type: "POST",
        url: '{% url "mass_edit_request" %}',
        data: {
            'builty_id': builty_id_arr,       // add the country id to the POST parameters
            'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function (data) {   // `data` is from `get_topics_ajax` view function

            location.reload()
            
        }

        });

}


        
$('.sele').select2();


$('#truck_details').select2({
  closeOnSelect : false,
});
$('#truck_owner').select2({
  closeOnSelect : false,
});
$('#consignor').select2({
  closeOnSelect : false,
});

  url = new URL(window.location.href);

  truck_details_options = url.searchParams.getAll("truck_details");

  $("#truck_details").val(truck_details_options).trigger('change');

  truck_owner_options = url.searchParams.getAll("truck_owner");

  $("#truck_owner").val(truck_owner_options).trigger('change');

  consignor_options = url.searchParams.getAll("consignor");

  $("#consignor").val(consignor_options).trigger('change');



  function pagination(page_no){


    url = new URL(window.location.href);

    var search_params = url.searchParams;

    // new value of "id" is set to "101"
    search_params.set('page', page_no);

    // change the search property of the main url
    url.search = search_params.toString();

    // the new url string
    var new_url = url.toString();

    // output : http://demourl.com/path?id=101&topic=main
    window.location.href = new_url;
            
    window.location.search = jQuery.query.set("page", page_no);



}



$("#select_all_truck_owner").click(function(){
  if($("#select_all_truck_owner").is(':checked')){
      $("#truck_owner > option").prop("selected", "selected");
      $("#truck_owner").trigger("change");
      $('#truck_owner').select2('open');

  } else {
      $('#truck_owner').select2('destroy').find('option').prop('selected', false).end().select2();
      $('#truck_owner').select2('open');
  }
});

$("#select_all_truck_details").click(function(){
  if($("#select_all_truck_details").is(':checked')){
      $("#truck_details > option").prop("selected", "selected");
      $("#truck_details").trigger("change");
      $('#truck_details').select2('open');
  } else {
      $('#truck_details').select2('destroy').find('option').prop('selected', false).end().select2();
      $('#truck_details').select2('open');
  }
});

$("#select_all_consignor").click(function(){
  if($("#select_all_consignor").is(':checked')){
      $("#consignor > option").prop("selected", "selected");
      $("#consignor").trigger("change");
      $('#consignor').select2('open');
  } else {
      $('#consignor').select2('destroy').find('option').prop('selected', false).end().select2();
      $('#consignor').select2('open');
  }
});



</script>



{% endblock js %}


